<!DOCTYPE html>
<html ng-app="appModule">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <script src="bower_components/angular/angular.js"></script>
</head>
<body>
 <div class="container" ng-controller="userController">
     <div class="panel panel-default">
         <div class="panel-heading">
             <a class="btn btn-xs btn-primary">增加用户</a>
         </div>
         <div class="panel-body">
             <ul class="list-group">
                <li class="list-group-item" ng-repeat="user in users ">
                    {{user.username}}|{{user.password}}|{{user.email}}
                </li>
             </ul>
         </div>
         <div class="panel-footer">
           <div class="row">
               <div class="col-sm-6 col-sm-offset-3">
                   <form action="" class="form-horizontal" role="form">
                       <div class="form-group">
                           <label for="username">用户名</label>
                           <input type="text" class="form-control" ng-model="user.username"/>
                       </div>
                       <div class="form-group">
                           <label for="password">密码</label>
                           <input type="text" class="form-control" ng-model="user.password"/>
                       </div>
                       <div class="form-group">
                           <input type="button" class="form-control" ng-click="addUser()" value="提交"/>
                       </div>
                   </form>
               </div>
           </div>
         </div>
     </div>
 </div>
 <script>
     var app = angular.module('appModule',[]);
     app.controller('userController',function($scope,$http){
        $scope.users = [{username:'zfpx'},{username:'zfpx'}];
        $scope.addUser = function(){
            $http({
                method:'POST',
                url:'/user',
                data:$scope.user,
                dataType:'json'
            }).then(function(res){
                $scope.users = res.data;
            });
        }
     });
 </script>
</body>

</html>